@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.Title</h1>
    <img src="~/JoelHilton.jpg" />
    <p>Welcome to the Website that hosts the collection of a film aficionado.</p>
</div>
