@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "My Podcast: Baconsale";
}
<div>
    <h1>I have a podcast that covers pop culture. I can tell you which movies are good, and which ones are bad, but only if you listen for 1 hour a week. Check out <a href="https://www.Baconsale.com">Baconsale</a>!</h1>
</div>